    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
        width: 100vw;
    }
    
    .parent-container {
        max-width: 60vw;
        height: 580px;
        border: 4px solid black;
        margin: 0 auto;
    }
    
    .background {
        height: 100%;
        width: 100%;
        background-image: url(4B7.gif);
        background-size: cover;
    }
    
    .logoReturn {
        width: 1.5em;
        z-index: 1;
        position: absolute;
        top: 60px;
        left: 254px;
    }
    
    .logoGameHover {
        width: 4.5em;
        z-index: 1;
        position: absolute;
        right: 26%;
    }
    
    .bird {
        height: 2em;
        width: 2.5em;
        position: fixed;
        top: 50%;
        left: 40%;
    }
    
    .bird2 {
        height: 3em;
        width: 4em;
        position: fixed;
        left: 47%;
        top: 58%;
    }
    
    .muroSprite {
        position: fixed;
        width: 65px;
        background-image: url(tile_brick_top.png);
    }